In [98]:
"""Importing basic modules for analysis"""
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sb
from sklearn.preprocessing import StandardScaler
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 20)
%matplotlib inline

In [99]:
"""Read the raw Telecom churn data in the dataframe"""
telco_churn = pd.read_csv(r'C:\Users\npatel\Desktop\Upgrad\telecom_churn_data.csv', encoding='ISO-8859-1')
print(telco_churn.head(10))
telco_churn.shape

   mobile_number  circle_id  loc_og_t2o_mou  std_og_t2o_mou  loc_ic_t2o_mou  \
0     7000842753        109             0.0             0.0             0.0
1     7001865778        109             0.0             0.0             0.0
2     7001625959        109             0.0             0.0             0.0
3     7001204172        109             0.0             0.0             0.0
4     7000142493        109             0.0             0.0             0.0
5     7000286308        109             0.0             0.0             0.0
6     7001051193        109             0.0             0.0             0.0
7     7000701601        109             0.0             0.0             0.0
8     7001524846        109             0.0             0.0             0.0
9     7001864400        109             0.0             0.0             0.0

  last_date_of_month_6 last_date_of_month_7 last_date_of_month_8  \
0            6/30/2014            7/31/2014            8/31/2014
1            6/30/2014            7/31/2014            8/31/2014
2            6/30/2014            7/31/2014            8/31/2014
3            6/30/2014            7/31/2014            8/31/2014
4            6/30/2014            7/31/2014            8/31/2014
5            6/30/2014            7/31/2014            8/31/2014
6            6/30/2014            7/31/2014            8/31/2014
7            6/30/2014            7/31/2014            8/31/2014
8            6/30/2014            7/31/2014            8/31/2014
9            6/30/2014            7/31/2014            8/31/2014

  last_date_of_month_9    arpu_6    arpu_7    arpu_8   arpu_9  onnet_mou_6  \
0            9/30/2014   197.385   214.816   213.803   21.100          NaN
1            9/30/2014    34.047   355.074   268.321   86.285        24.11
2            9/30/2014   167.690   189.058   210.226  290.714        11.54
3            9/30/2014   221.338   251.102   508.054  389.500        99.91
4            9/30/2014   261.636   309.876   238.174  163.426        50.31
5            9/30/2014    50.258    58.810    83.386  170.826        50.16
6            9/30/2014   429.023   190.704   255.114  114.751        71.03
7            9/30/2014  1069.180  1349.850  3171.480  500.000        57.84
8            9/30/2014   378.721   492.223   137.362  166.787       413.69
9            9/30/2014   119.518   247.435   170.231  160.042        33.89

   onnet_mou_7  onnet_mou_8  onnet_mou_9  offnet_mou_6  offnet_mou_7  \
0          NaN         0.00          NaN           NaN           NaN
1        78.68         7.68        18.34         15.74         99.84
2        55.24        37.26        74.81        143.33        220.59
3        54.39       310.98       241.71        123.31        109.01
4       149.44        83.89        58.78         76.96         91.88
5        43.63        85.48       138.79         19.28         13.44
6        45.03        76.66        15.23        262.73         49.24
7        54.68        52.29          NaN        453.43        567.16
8       351.03        35.08        33.46         94.66         80.63
9        30.11        22.43        27.84         63.48         54.16

   offnet_mou_8  offnet_mou_9  roam_ic_mou_6  roam_ic_mou_7  roam_ic_mou_8  \
0          0.00           NaN            NaN            NaN           0.00
1        304.76         53.76           0.00           0.00           0.00
2        208.36        118.91           0.00           0.00           0.00
3         71.68        113.54           0.00          54.86          44.38
4        124.26         45.81           0.00           0.00           0.00
5         14.46         46.91           0.00           0.00           0.00
6         92.08         50.33           0.00           0.00           0.00
7        325.91           NaN          16.23          33.49          31.64
8        136.48        108.71           0.00           0.00           0.00
9         78.34        123.48           0.00           0.00           0.00

   roam_ic_mou_9  roam_og_mou_6  roam_og_mou_7  roam_og_mou_8  roam_og_mou_9  \
0            NaN            NaN            NaN           0.00            NaN
1           0.00           0.00           0.00           0.00           0.00
2          38.49           0.00           0.00           0.00          70.94
3           0.00           0.00          28.09          39.04           0.00
4           0.00           0.00           0.00           0.00           0.00
5           0.00           0.00           0.00           0.00           0.00
6           0.00           0.00           0.00           0.00           0.00
7            NaN          23.74          12.59          38.06            NaN
8           0.00           0.00           0.00           0.00           0.00
9           0.00           0.00           0.00           0.00           0.00

   loc_og_t2t_mou_6  loc_og_t2t_mou_7  loc_og_t2t_mou_8  loc_og_t2t_mou_9  \
0               NaN               NaN              0.00               NaN
1             23.88             74.56              7.68             18.34
2              7.19             28.74             13.58             14.39
3             73.68             34.81             10.61             15.49
4             50.31            149.44             83.89             58.78
5             50.16             43.63             85.48            138.79
6             71.03             45.03             76.14             15.23
7             51.39             31.38             40.28               NaN
8            297.13            217.59             12.49             26.13
9             33.89             30.11             22.43             27.84

   loc_og_t2m_mou_6  loc_og_t2m_mou_7  loc_og_t2m_mou_8  loc_og_t2m_mou_9  \
0               NaN               NaN              0.00               NaN
1             11.51             75.94            291.86             53.76
2             29.34             16.86             38.46             28.16
3            107.43             83.21             22.46             65.46
4             67.64             91.88            124.26             37.89
5             16.39              8.83             12.38             44.78
6            252.23             48.71             80.63             50.33
7            308.63            447.38            162.28               NaN
8             80.96             70.58             50.54             34.58
9             38.03             40.06             34.93             37.26

   loc_og_t2f_mou_6  loc_og_t2f_mou_7  loc_og_t2f_mou_8  loc_og_t2f_mou_9  \
0               NaN               NaN              0.00               NaN
1              0.00              0.00              0.00              0.00
2             24.11             21.79             15.61             22.24
3              1.91              0.65              4.91              2.06
4              0.00              0.00              0.00              1.93
5              0.00              0.00              0.00              2.13
6             10.38              0.00              0.00              0.00
7             62.13             55.14             53.23               NaN
8              0.00              0.00              0.00              0.00
9              0.00              0.00              0.00              0.00

   loc_og_t2c_mou_6  loc_og_t2c_mou_7  loc_og_t2c_mou_8  loc_og_t2c_mou_9  \
0               NaN               NaN              0.00               NaN
1              0.00              2.91              0.00              0.00
2              0.00            135.54             45.76              0.48
3              0.00              0.00              0.00              0.00
4              0.00              0.00              0.00              0.00
5              0.00              0.00              0.00              0.00
6              0.11              0.00              0.00              0.00
7              0.00              0.00              0.00               NaN
8              0.00              0.00              7.15              0.00
9              0.00              0.00              0.00              0.00

   loc_og_mou_6  loc_og_mou_7  loc_og_mou_8  loc_og_mou_9  std_og_t2t_mou_6  \
0           NaN           NaN          0.00           NaN               NaN
1         35.39        150.51        299.54         72.11              0.23
2         60.66         67.41         67.66         64.81              4.34
3        183.03        118.68         37.99         83.03             26.23
4        117.96        241.33        208.16         98.61              0.00
5         66.56         52.46         97.86        185.71              0.00
6        333.64         93.74        156.78         65.56              0.00
7        422.16        533.91        255.79           NaN              4.30
8        378.09        288.18         63.04         60.71            116.56
9         71.93         70.18         57.36         65.11              0.00

      ...      count_rech_3g_9  av_rech_amt_data_6  av_rech_amt_data_7  \
0     ...                  NaN               252.0               252.0
1     ...                  NaN                 NaN               154.0
2     ...                  0.0                 NaN                 NaN
3     ...                  NaN                 NaN                 NaN
4     ...                  NaN                56.0                 NaN
5     ...                  NaN                 NaN                 NaN
6     ...                  NaN                 NaN                 NaN
7     ...                  NaN                 NaN                 NaN
8     ...                  NaN                 NaN               177.0
9     ...                  NaN                 NaN               154.0

   av_rech_amt_data_8  av_rech_amt_data_9  vol_2g_mb_6  vol_2g_mb_7  \
0               252.0                 NaN        30.13         1.32
1                50.0                 NaN         0.00       108.07
2                 NaN                46.0         0.00         0.00
3                 NaN                 NaN         0.00         0.00
4                 NaN                 NaN         0.00         0.00
5                 NaN                 NaN         0.00         0.00
6                 NaN                 NaN         0.00         0.00
7                 NaN                 NaN         0.00         0.00
8                69.0                 NaN         0.00       356.00
9                 NaN                 NaN         0.00         7.37

   vol_2g_mb_8  vol_2g_mb_9  vol_3g_mb_6  vol_3g_mb_7  vol_3g_mb_8  \
0         5.75          0.0        83.57       150.76       109.61
1       365.47          0.0         0.00         0.00         0.00
2         0.00          0.0         0.00         0.00         0.00
3         0.00          0.0         0.00         0.00         0.00
4         0.00          0.0         0.00         0.00         0.00
5         0.00          0.0         0.00         0.00         0.00
6         0.00          0.0         0.00         0.00         0.00
7         0.00          0.0         0.00         0.00         0.00
8         0.03          0.0         0.00       750.95        11.94
9         0.00          0.0         0.00         0.00         0.00

   vol_3g_mb_9  arpu_3g_6  arpu_3g_7  arpu_3g_8  arpu_3g_9  arpu_2g_6  \
0         0.00     212.17     212.17     212.17        NaN     212.17
1         0.00        NaN       0.00       0.00        NaN        NaN
2         8.42        NaN        NaN        NaN       2.84        NaN
3         0.00        NaN        NaN        NaN        NaN        NaN
4         0.00       0.00        NaN        NaN        NaN       0.00
5         0.00        NaN        NaN        NaN        NaN        NaN
6         0.00        NaN        NaN        NaN        NaN        NaN
7         0.00        NaN        NaN        NaN        NaN        NaN
8         0.00        NaN       0.00      19.83        NaN        NaN
9         0.00        NaN       0.00        NaN        NaN        NaN

   arpu_2g_7  arpu_2g_8  arpu_2g_9  night_pck_user_6  night_pck_user_7  \
0     212.17     212.17        NaN               0.0               0.0
1      28.61       7.60        NaN               NaN               0.0
2        NaN        NaN        0.0               NaN               NaN
3        NaN        NaN        NaN               NaN               NaN
4        NaN        NaN        NaN               0.0               NaN
5        NaN        NaN        NaN               NaN               NaN
6        NaN        NaN        NaN               NaN               NaN
7        NaN        NaN        NaN               NaN               NaN
8       0.00       0.00        NaN               NaN               0.0
9       0.00        NaN        NaN               NaN               0.0

   night_pck_user_8  night_pck_user_9  monthly_2g_6  monthly_2g_7  \
0               0.0               NaN             0             0
1               0.0               NaN             0             1
2               NaN               0.0             0             0
3               NaN               NaN             0             0
4               NaN               NaN             0             0
5               NaN               NaN             0             0
6               NaN               NaN             0             0
7               NaN               NaN             0             0
8               0.0               NaN             0             1
9               NaN               NaN             0             1

   monthly_2g_8  monthly_2g_9  sachet_2g_6  sachet_2g_7  sachet_2g_8  \
0             0             0            0            0            0
1             0             0            0            0            2
2             0             0            0            0            0
3             0             0            0            0            0
4             0             0            1            0            0
5             0             0            0            0            0
6             0             0            0            0            0
7             0             0            0            0            0
8             0             0            0            1            3
9             0             0            0            0            0

   sachet_2g_9  monthly_3g_6  monthly_3g_7  monthly_3g_8  monthly_3g_9  \
0            0             1             1             1             0
1            0             0             0             0             0
2            1             0             0             0             0
3            0             0             0             0             0
4            0             0             0             0             0
5            0             0             0             0             0
6            0             0             0             0             0
7            0             0             0             0             0
8            0             0             0             0             0
9            0             0             0             0             0

   sachet_3g_6  sachet_3g_7  sachet_3g_8  sachet_3g_9  fb_user_6  fb_user_7  \
0            0            0            0            0        1.0        1.0
1            0            0            0            0        NaN        1.0
2            0            0            0            0        NaN        NaN
3            0            0            0            0        NaN        NaN
4            0            0            0            0        0.0        NaN
5            0            0            0            0        NaN        NaN
6            0            0            0            0        NaN        NaN
7            0            0            0            0        NaN        NaN
8            0            0            0            0        NaN        1.0
9            0            0            0            0        NaN        1.0

   fb_user_8  fb_user_9   aon  aug_vbc_3g  jul_vbc_3g  jun_vbc_3g  sep_vbc_3g
0        1.0        NaN   968       30.40        0.00      101.20        3.58
1        1.0        NaN  1006        0.00        0.00        0.00        0.00
2        NaN        1.0  1103        0.00        0.00        4.17        0.00
3        NaN        NaN  2491        0.00        0.00        0.00        0.00
4        NaN        NaN  1526        0.00        0.00        0.00        0.00
5        NaN        NaN  1471        0.00        0.00        0.00        0.00
6        NaN        NaN  1673        0.00        0.00        0.00        0.00
7        NaN        NaN   802       57.74       19.38       18.74        0.00
8        1.0        NaN   315       21.03      910.65      122.16        0.00
9        NaN        NaN   902        0.00        0.00        0.00        0.00

[10 rows x 226 columns]

(99999, 226)

In [100]:
"""Fetch the relevant dataset - Prepaid recharge data for usage analysis
   Data pack recharge and Topup recharge - (data, num)
   Analyse for 3 months 6th, 7th and 8th, validate the accuracy for 9th month customer churn.
"""
recharges = ['total_rech_num_6', 'total_rech_num_7', 'total_rech_num_8', 'total_rech_num_9', 
             'total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8', 'total_rech_amt_9', 
             'total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8', 'total_rech_data_9']

In [101]:
"""Derive the columns for the recharge done data + num"""
telco_churn['total_rech_amt_all_6'] = telco_churn['total_rech_amt_6'] +  telco_churn['total_rech_data_6']  * telco_churn['av_rech_amt_data_6']
telco_churn['total_rech_amt_all_7'] = telco_churn['total_rech_amt_7'] + telco_churn['total_rech_data_7']  * telco_churn['av_rech_amt_data_7']
telco_churn['total_rech_amt_all_8'] = telco_churn['total_rech_amt_8'] + telco_churn['total_rech_data_8']  * telco_churn['av_rech_amt_data_8']
#For churn score
telco_churn['total_rech_amt_all_9'] = telco_churn['total_rech_amt_9'] + telco_churn['total_rech_data_9']  * telco_churn['av_rech_amt_data_9']
telco_churn.shape

(99999, 230)

In [102]:
"""Data Cleaning and Unwantned column Removal"""
"""Remove data with Low Variance, threshold = 2"""
good_variance_cols = [key for key, val in telco_churn.nunique().to_dict().items() if val > 2]
telco_churn = telco_churn[good_variance_cols]
telco_churn.shape

(99999, 206)

In [105]:
"""Drop columns used in derived columns"""
other_cols = ['total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8', 'total_rech_amt_9',
              'total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8', 'total_rech_data_9', 
              'av_rech_amt_data_6', 'av_rech_amt_data_7', 'av_rech_amt_data_8', 'av_rech_amt_data_9',]
telco_churn.drop(other_cols, axis=1, inplace=True)
telco_churn.shape

KeyError: "['total_rech_data_6' 'total_rech_data_7' 'total_rech_data_8'\n 'av_rech_amt_data_6' 'av_rech_amt_data_7' 'av_rech_amt_data_8'] not found in axis"

In [103]:
"""Drop columns with missing value either na or 0 values (null cleaning)"""
"""Threshold = 25%"""
"""NOTE: skipping 9th month for Churn Score Analysis"""
misses = telco_churn.isnull().sum() * 100 / len(telco_churn)
missing_value_df = pd.DataFrame({'col': telco_churn.columns,
                                 'misses': misses})

misses_col = missing_value_df.loc[(missing_value_df["col"].str.contains('_9')==False) & 
                                (missing_value_df["misses"] > 25.0) &
                                  (missing_value_df["col"].str.contains('total_rech_amt_all')==False)]["col"]
print(misses_col)
telco_churn.drop(misses_col, axis=1, inplace=True)
telco_churn.shape

date_of_last_rech_data_6    date_of_last_rech_data_6
date_of_last_rech_data_7    date_of_last_rech_data_7
date_of_last_rech_data_8    date_of_last_rech_data_8
total_rech_data_6                  total_rech_data_6
total_rech_data_7                  total_rech_data_7
total_rech_data_8                  total_rech_data_8
max_rech_data_6                      max_rech_data_6
max_rech_data_7                      max_rech_data_7
max_rech_data_8                      max_rech_data_8
count_rech_2g_6                      count_rech_2g_6
                                      ...
count_rech_3g_8                      count_rech_3g_8
av_rech_amt_data_6                av_rech_amt_data_6
av_rech_amt_data_7                av_rech_amt_data_7
av_rech_amt_data_8                av_rech_amt_data_8
arpu_3g_6                                  arpu_3g_6
arpu_3g_7                                  arpu_3g_7
arpu_3g_8                                  arpu_3g_8
arpu_2g_6                                  arpu_2g_6
arpu_2g_7                                  arpu_2g_7
arpu_2g_8                                  arpu_2g_8
Name: col, Length: 24, dtype: object

(99999, 182)

In [106]:
"""Column Type and Naming Standardization"""
datatypes = telco_churn.dtypes
obj_cols = datatypes[datatypes=='object']
print(obj_cols)
#datetime.datetime conversion
for col in obj_cols.index:
    telco_churn[col] = pd.to_datetime(telco_churn[col])
telco_churn.head(1)

date_of_last_rech_6         object
date_of_last_rech_7         object
date_of_last_rech_8         object
date_of_last_rech_9         object
date_of_last_rech_data_9    object
dtype: object

,mobile_number,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,offnet_mou_7,offnet_mou_8,offnet_mou_9,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_ic_mou_9,roam_og_mou_6,roam_og_mou_7,roam_og_mou_8,roam_og_mou_9,loc_og_t2t_mou_6,loc_og_t2t_mou_7,loc_og_t2t_mou_8,loc_og_t2t_mou_9,loc_og_t2m_mou_6,loc_og_t2m_mou_7,loc_og_t2m_mou_8,loc_og_t2m_mou_9,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2f_mou_9,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_t2c_mou_9,loc_og_mou_6,loc_og_mou_7,loc_og_mou_8,loc_og_mou_9,std_og_t2t_mou_6,std_og_t2t_mou_7,std_og_t2t_mou_8,std_og_t2t_mou_9,std_og_t2m_mou_6,std_og_t2m_mou_7,std_og_t2m_mou_8,std_og_t2m_mou_9,std_og_t2f_mou_6,...,max_rech_amt_9,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,date_of_last_rech_9,last_day_rch_amt_6,last_day_rch_amt_7,last_day_rch_amt_8,last_day_rch_amt_9,date_of_last_rech_data_9,total_rech_data_9,max_rech_data_9,count_rech_2g_9,count_rech_3g_9,av_rech_amt_data_9,vol_2g_mb_6,vol_2g_mb_7,vol_2g_mb_8,vol_2g_mb_9,vol_3g_mb_6,vol_3g_mb_7,vol_3g_mb_8,vol_3g_mb_9,arpu_3g_9,arpu_2g_9,monthly_2g_6,monthly_2g_7,monthly_2g_8,monthly_2g_9,sachet_2g_6,sachet_2g_7,sachet_2g_8,sachet_2g_9,monthly_3g_6,monthly_3g_7,monthly_3g_8,monthly_3g_9,sachet_3g_6,sachet_3g_7,sachet_3g_8,sachet_3g_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_all_6,total_rech_amt_all_7,total_rech_amt_all_8,total_rech_amt_all_9
0,7000842753,197.385,214.816,213.803,21.1,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,...,0,2014-06-21,2014-07-16,2014-08-08,2014-09-28,252,252,252,0,NaT,NaN,NaN,NaN,NaN,NaN,30.13,1.32,5.75,0.0,83.57,150.76,109.61,0.0,NaN,NaN,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,968,30.4,0.0,101.2,3.58,614.0,504.0,504.0,NaN

In [107]:
"""Since the month refernace to each column is tandardised to numeric gregorian sequence,
    lets refer the months in all coumns in same fashion
    6-jun
    7-jul
    8-aug
    9-sept
"""
#Rename
telco_churn.rename(columns={'jun_vbc_3g': 'vbc_3g_6', 
                            'jul_vbc_3g': 'vbc_3g_7', 
                            'aug_vbc_3g': 'vbc_3g_8',
                            'sep_vbc_3g': 'vbc_3g_9'}, inplace=True)
telco_churn.head(1)

,mobile_number,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,offnet_mou_7,offnet_mou_8,offnet_mou_9,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_ic_mou_9,roam_og_mou_6,roam_og_mou_7,roam_og_mou_8,roam_og_mou_9,loc_og_t2t_mou_6,loc_og_t2t_mou_7,loc_og_t2t_mou_8,loc_og_t2t_mou_9,loc_og_t2m_mou_6,loc_og_t2m_mou_7,loc_og_t2m_mou_8,loc_og_t2m_mou_9,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2f_mou_9,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_t2c_mou_9,loc_og_mou_6,loc_og_mou_7,loc_og_mou_8,loc_og_mou_9,std_og_t2t_mou_6,std_og_t2t_mou_7,std_og_t2t_mou_8,std_og_t2t_mou_9,std_og_t2m_mou_6,std_og_t2m_mou_7,std_og_t2m_mou_8,std_og_t2m_mou_9,std_og_t2f_mou_6,...,max_rech_amt_9,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,date_of_last_rech_9,last_day_rch_amt_6,last_day_rch_amt_7,last_day_rch_amt_8,last_day_rch_amt_9,date_of_last_rech_data_9,total_rech_data_9,max_rech_data_9,count_rech_2g_9,count_rech_3g_9,av_rech_amt_data_9,vol_2g_mb_6,vol_2g_mb_7,vol_2g_mb_8,vol_2g_mb_9,vol_3g_mb_6,vol_3g_mb_7,vol_3g_mb_8,vol_3g_mb_9,arpu_3g_9,arpu_2g_9,monthly_2g_6,monthly_2g_7,monthly_2g_8,monthly_2g_9,sachet_2g_6,sachet_2g_7,sachet_2g_8,sachet_2g_9,monthly_3g_6,monthly_3g_7,monthly_3g_8,monthly_3g_9,sachet_3g_6,sachet_3g_7,sachet_3g_8,sachet_3g_9,aon,vbc_3g_8,vbc_3g_7,vbc_3g_6,vbc_3g_9,total_rech_amt_all_6,total_rech_amt_all_7,total_rech_amt_all_8,total_rech_amt_all_9
0,7000842753,197.385,214.816,213.803,21.1,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,...,0,2014-06-21,2014-07-16,2014-08-08,2014-09-28,252,252,252,0,NaT,NaN,NaN,NaN,NaN,NaN,30.13,1.32,5.75,0.0,83.57,150.76,109.61,0.0,NaN,NaN,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,968,30.4,0.0,101.2,3.58,614.0,504.0,504.0,NaN

In [108]:
"""Drop Highly Correlated Columns for dimension reduction and simplicity"""
# Create correlation matrix
corr = telco_churn.corr().abs()

# Select upper triangle of correlation matrix
upper = corr.where(np.triu(np.ones(corr.shape), k=1).astype(np.bool))
corr =  corr.stack()
# Find index of feature columns with correlation greater than 0.95
high_corr_drop_cols = [column for column in upper.columns if any(upper[column] > 0.65)]
#high_corr_drop_cols
high_corr_drop_cols = corr[(corr > 0.65) & (corr != 1.0)].sort_values()

In [109]:
corr_drop_cols = set(filter(lambda x: 'loc' in x or 'std' in x, list(high_corr_drop_cols.reset_index()['level_0'])))
print(corr_drop_cols, len(corr_drop_cols))
telco_churn.drop(corr_drop_cols, axis=1, inplace=True)
telco_churn.shape

{'std_ic_t2t_mou_6', 'std_og_mou_8', 'loc_og_t2t_mou_9', 'std_ic_t2f_mou_7', 'std_ic_mou_9', 'std_og_t2t_mou_8', 'loc_ic_t2f_mou_6', 'std_ic_t2t_mou_7', 'loc_og_mou_6', 'loc_ic_t2m_mou_8', 'std_ic_t2m_mou_6', 'loc_ic_t2f_mou_7', 'std_ic_t2m_mou_9', 'std_og_mou_7', 'std_og_t2t_mou_9', 'std_og_t2f_mou_8', 'loc_ic_mou_6', 'loc_ic_t2f_mou_9', 'loc_og_mou_7', 'loc_ic_mou_7', 'std_og_mou_6', 'std_og_t2m_mou_8', 'loc_ic_t2t_mou_8', 'loc_ic_t2m_mou_7', 'std_og_t2t_mou_7', 'loc_ic_mou_8', 'loc_og_t2t_mou_8', 'std_og_mou_9', 'loc_ic_t2m_mou_9', 'loc_ic_t2f_mou_8', 'std_og_t2m_mou_7', 'loc_og_t2f_mou_6', 'loc_og_t2m_mou_8', 'std_ic_mou_6', 'std_og_t2t_mou_6', 'std_ic_t2m_mou_8', 'loc_og_t2f_mou_9', 'loc_og_t2t_mou_6', 'std_ic_t2t_mou_8', 'loc_og_t2f_mou_7', 'loc_ic_t2m_mou_6', 'loc_og_t2m_mou_7', 'std_ic_mou_8', 'loc_ic_mou_9', 'std_og_t2m_mou_9', 'std_og_t2f_mou_7', 'std_og_t2f_mou_6', 'std_ic_t2t_mou_9', 'std_ic_t2f_mou_8', 'std_ic_mou_7', 'std_og_t2f_mou_9', 'std_ic_t2f_mou_9', 'loc_og_t2m_mou_6', 'loc_og_mou_9', 'loc_ic_t2t_mou_9', 'loc_og_t2t_mou_7', 'std_ic_t2m_mou_7', 'std_og_t2m_mou_6', 'loc_og_t2m_mou_9', 'loc_ic_t2t_mou_6', 'loc_og_t2f_mou_8', 'loc_og_mou_8', 'loc_ic_t2t_mou_7', 'std_ic_t2f_mou_6'} 64

(99999, 118)

In [110]:
telco_churn.head()
"""Lets get high-value customers using Prepaid Services"""
"""As stated in the Problem statement Those who have recharged with an amount more than or equal to X,
where X is the 70th percentile of the average recharge amount in the first two months are high-value customers"""

avg_amt = (telco_churn["total_rech_amt_all_6"].fillna(0) + telco_churn["total_rech_amt_all_7"].fillna(0))/2.0

#70th Percentile of Avg Recharge Amount
percentile_amt_70 = np.percentile(avg_amt, 70.0)
print('70th percentile of the average recharge amount in the first two months are high-value customers: ', percentile_amt_70)

main_cust_churn = telco_churn[avg_amt >= percentile_amt_70]
print(main_cust_churn.shape)

70th percentile of the average recharge amount in the first two months are high-value customers:  121.79999999999563
(30000, 118)

In [ ]:
"""Now in order to evaluate our Prediction accuracy, we will define the Dependent Parameter
   CHURN, which is denoted using:
   1 - Customer churns
   0 - Customer does not churns
   For 9th month(Septemner)
"""